* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  background: rgb(33, 31, 31);
  color: white;
  height: 70px;
  /* display: flex; */
  /* justify-content: space-between */
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;                     
  padding: 0 20px;
  margin-left:30px;
  /* margin-right: 20px;                   */
}



.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}


.nav-menu {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-menu li {
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 40px;
}


.logo {
  font-size: 24px;
}
 .left-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    display: flex;
    justify-content:flex-end;
    gap: 20px;
 }
 .left-nav li{
    cursor: pointer;
 }