
* {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #111;
  color: white;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-menu {
  display: none;   
  gap: 8px 12px;
  list-style: none;
  max-width: 60vw;
  cursor: pointer;
}

.nav-menu li:hover {
    opacity: 0.7;
  }

.nav-menu li {
  font-size: 15px;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
}

.logo img {
  width: 80px;
}

@media (min-width: 768px) {
  .header-inner {
    padding: 15px 40px;
  }

  .nav-menu {
    display: flex;
    gap: 18px;
    cursor: pointer;
  }

  .nav-menu li {
    cursor: pointer;
    font-size: 18px;
    transition: opacity 0.3s;
  }

  .nav-menu li:hover {
    opacity: 0.7;
  }

  .logo img {
    width: 100px;
  }
}

@media (min-width: 1024px) {

  .header-inner {
    padding: 20px 60px;
  }

  .nav-menu {
    gap: 25px;
    font-size: 16px;
  }

  .left-nav {
    gap: 20px;
  }

  .logo img {
    width: 120px;
  }
}
